.#*
*~
*#
ac-comphist.dat
auto-save-list/
elpa/
newsticker/
tmp/
url/
*.elc
/email/email-settings.el
/erc-settings.el
node_modules/
/session*
tramp
/projectile-bookmarks.eld
eww-bookmarks
/.org-id-locations
/bookmarks
/recentf
.mc-lists.el
